@inherits LayoutComponentBase

<div class="page">
    <header class="navbar sticky-top bg-primary container-fluid" data-bs-theme="dark">
        <nav class="container">
            <a class="navbar-brand" href="#">Blazor Chat UI</a>
        </nav>
    </header>    

    <main>
        <div class="container">
            @Body
        </div>        
    </main>
</div>
